$content-background: rgb(70, 60, 60);

.content {
  background-color: $content-background;
  border: 1px solid black;
}

// @media screen and (max-width: 812px) {
//   #container {
//     display: grid;
//     grid-template-columns: 1fr;
//     min-height: 100vh;
//     max-height: 100vw;
//   }
// }