$footer-background: hsla(0, 19%, 22%, 0.603);

footer {
	background: $footer-background;
	margin: 50px 0 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

#copyright__text {
	color: white;
}
