$footer-background: rgb(39, 34, 34);

.footer {
  background-color: $footer-background;
  position: relative;
  #social-media {
    position: fixed; 
    bottom: 0;
    background: purple;
    border: 1px solid black;
    margin: 10px auto;
    .social-media-item {
      margin: 0px 10px;
      height: 48px !important;
      width: 48px !important;
    }
  }
  #copyright {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 15px 20px;
  }
}

// @media screen and (max-width: 812px) {
//   .footer-container {
//     display: grid;
//     position: absolute;
//     bottom: 0;
//   }
// }
