/* Everything related to the header will be in this file */

$header-background: hsla(32, 43%, 55%, 0.2);
$initial-height: 100px;
.head {
  display: flex;
  flex-direction: row;
  height: $initial-height;
  max-width: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: all 1s linear;
  &.locked {
    background: $header-background;
    height: 70px;
  }
}

.logo {
  transition: all 1s;
  cursor: pointer;
  height: $initial-height;
  margin: 0px 50px;
  image-rendering: auto;
  &.locked {
    height: 70px;
  }
}

@media screen and (max-width: 990px) {
  .head {
    flex-direction: column;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }
}
