/* Everything related to the header will be in this file */

// $header-background: hsla(21, 22%, 34%, 0.8);
$header-background: linear-gradient(60deg, rgb(80, 60, 60), rgb(190, 145, 95));
$initial-height: 160px;
$transition-height: 60px;

.head {
  display: flex;
  height: $initial-height;
  justify-content: center;
  position: fixed;
  top: 0;
  // transition: all 0.25s linear;
  width: 100%;
  z-index: 1;
  &.locked {
    justify-content: space-between;
    background: $header-background;
    height: $transition-height;
  }
}

.logo {
  cursor: pointer;
  height: $initial-height;
  margin: 0px 50px;
  image-rendering: auto;
  // transition: all 0.2s linear;
  &.locked {
    height: $transition-height;
  }
}

@media screen and (max-width: 1200px) {
  .head {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }
}
