$nav-background: rgb(75, 55, 55);
$nav-link-color: white;

.nav {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 12;
  text-align: center;

  li {
    display: inline-block;
    a {
      border: 1px solid orange;
      color: $nav-link-color;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.active {
  text-decoration: underline !important;
}

@media screen and (max-width: 990px) {
  .hamburger {
    // border-radius: 120px;
    height: 100px;
    position: absolute;
    margin: 15px 15px;
    right: 0;
    width: 100px;
  }
}
