$nav-background: rgb(75, 55, 55);
$nav-link-color: white;

.nav {
  // border: 1px solid black;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-around;
  position: relative;
  z-index: 12;
  width: 100%;
  li {
    a {
      color: $nav-link-color;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.active {
  text-decoration: underline !important;
}

// @media only screen and (max-width: 812px) {
//   #nav {
//     display: none;
//   }
// }
