$nav-link-color: rgb(255, 255, 255);

.nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 12;
  text-align: center;
  li {
    margin: 0;
    padding: 0;
    a {
      height: 100%;
      font-size: 2rem;
      color: $nav-link-color;
      text-decoration: none;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.active {
  text-decoration: underline !important;
}

@media screen and (max-width: 990px) {
  .hamburger {
    // border-radius: 120px;
    height: 100px;
    position: absolute;
    margin: 15px 15px;
    right: 0;
    width: 100px;
  }
}
