// Everything related to site positioning
// Also where to control size of the 3 grids
.site-container {
  display: grid;
  grid-template-rows: 750px 1280px 200px;
}

.featured-image-container {
  margin: 0 auto;
  #featured-image {
    width: 600px;
  }
}
