// Everything related to site positioning
// Also where to control size of the 3 grids
.site-container {
  background: blue;
  display: grid;
  grid-template-rows: 650px 1280px 200px;
  position: absolute;
  top: 100px;;
  width: 100%;
}