$content-background: rgb(253, 236, 213);
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

.content {
  background-color: $content-background;
  position: relative;
  height: 100%;
}

.main {
  height: 100%;
  padding-bottom: 40px;
  h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    padding: 10px 40px;
    text-align: center;
  }
  .main-content {
    height: 100%;
    .content-block {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: 50%;
      font-size: 2rem;
      margin: 20px 0px;
      .text-block {
        flex: 2;
        text-align: center;
        .text-block-text {
          margin: 60px;
          &.normal {
            margin: 10px;
          }
        }
        .content-list {
          list-style: none;
          margin-bottom: 30px;
          li {
            padding: 10px;
          }
        }
      }
      &.bottom {
        padding-top: 80px;
      }
    }
    .main-image {
      display: flex;
      margin: 0px 60px;
      height: 550px;
    }
  }
}

@media screen and (max-width: 900px) {
  .content-block {
    font-size: 12px !important;
    flex-direction: column !important;
  }
  .main-image {
    height: 350px;
    width: 250px;
    &.top {
      order: -1;
    }
    &.bottom {
      order: -1;
    }
  }
}
