.testimonial-container {
  display: flex;
  margin: 20px;
  .testimonial {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    position: relative;
    outline: 2px solid black;
    p {
      font-size: 3rem;
      // background: orange;
      &.testimonial-text {
        // background: yellow;
        margin: 20px 20px;
      }
      &.centered {
        text-align: center;
      }
      &.name-bottom {
        bottom: 5px;
        right: 80px;
        position: absolute;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .testimonial-container {
    flex-direction: column;
  }
}
