@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

$body-background:rgba(59, 32, 32, .97);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  body {
    background: $body-background;
    font-family: 'IBM Plex Serif', Helvetica, Arial, sans-serif;
    font-size: $m-size;
  }
  
}

